// add slick
@import 'slick/slick-theme.less';
@import 'slick/slick.less';
@import '_styleguide.less';
@import '_mixin.less';




& when (@media-common =true) {
    a,a.link-a{
        color: #333;
        font-weight: 400;
    }
    a:hover{
        opacity: 0.8;
    }

 }

