// set variables
@font-lora-bold: "Lora-Bold";
@font-lora-regular: "Lora-Regular";
@font-roboto-bold: "Roboto-Bold";
@font-roboto-regular: "Roboto-Regular";
@font-market-regular: "market-regular";
@font-roboto-medium: "Roboto-Medium";
@font-opensans-bold: "OpenSans-Bold";
@font-weight-700: 700;
@font-size32: 32px;
@font-size24: 24px;
@font-size18: 18px;
@font-size15: 15px;
@font-size13: 13px;
@font-size20: 20px;
@size-20px: 20px;
@size-30px: 30px;
@size-1px: 1px;
@size-2px: 2px;
@color-green-default: #22b725;
@color-green-standard: #11ab15;
@color-green-message: #68c524;
@color-red-validate: #ed1313;
@color-f8: #f8f8f8;
@color-a9: #a9a9a9;
@color-333: #333;
@color-777: #777;
@color-a7: #a7a7a7;
@color-f9: #f9f9f9;
@color-2d:  #2d2d2d;
@color-d1: #d1d1d1;
@color-ddd: #ddd;
@color-white: #fff;
@color-primary: #2d2d2f;
@color-boder: #e3e3e3;
@border-search-color: #c7c7c7;
@copyright__background-color: #2d2d2f;
@color-text-search: #a9a9a9;
@color-cart: #de1f00;


@size-200: 200px;
@padding-12-20: 12px 20px;
@height-header-top: 36px;
